@font-face {
  font-family: "Hair-2";
  src: url(../fonts/hair_2.ttf);
}
:root {
  font-size: 10px;
  --text-color: #f5f5dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Hair-2", arial;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #ccc;
}

.index-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 0 0 50px;
}

@media (min-width: 2560px) {
  .wrapper {
    width: 80%;
  }
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -100;
  overflow: hidden;
}

.background-video video {
  position: absolute;
  height: 100%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@supports (object-fit: cover) {
  .background-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
  }
}

.background-video .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.main-title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  letter-spacing: 2px;
  flex-grow: 1;
}

.site-title,
.section-title {
  text-transform: uppercase;
  font-size: calc(6.5rem + 5vw);
}

.section-title,
.section-subtitle {
  text-align: center;
  font-size: calc(2.5rem + 5vw);
}

@media (min-width: 1440px) {
  .section-title,
  .section-subtitle {
    font-size: 8rem;
  }
}

@media (min-width: 2560px) {
  .section-title,
  .section-subtitle {
    font-size: 10rem;
  }
}

.section-title {
  margin-bottom: 25px;
}

.site-subtitle,
.section-subtitle {
  font-size: calc(2.5rem + 3vw);
}

nav[role="navigation"] {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.menu {
  list-style: none;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgba(5, 5, 5, 0.9);
}

.menu__link {
  font-size: 4.5rem;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menu__link:hover {
  border-bottom: 2px solid var(--text-color);
}

.menu-btn {
  background-color: transparent;
  border: 3px solid var(--text-color);
  width: 40px;
  height: 40px;
  position: fixed;
  left: 5%;
  top: calc(100vw / 100 * 5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.menu-btn__line {
  height: 3px;
  width: 50%;
  background-color: var(--text-color);
  transition: transform 0.3s;
}

.menu-btn.active .menu-btn__line:first-child {
  transform: rotate(45deg) translate(4px, 4px);
}

.menu-btn.active .menu-btn__line:last-child {
  transform: rotate(-45deg) translate(4px, -4px);
}

.show-menu {
  display: flex;
}

@media (min-width: 1024px) {
  nav[role="navigation"] {
    position: relative;
    left: 0;
    top: 0;
    max-width: 1440px;
    height: auto;
    padding-top: 3%;
    margin: 0 auto;
  }

  .menu-btn {
    display: none;
  }

  .menu {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
  }
}

.teachers,
.models {
  padding-top: 50px;
}

.teacher {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .teacher {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
  }
}

.teacher:not(:last-child) {
  margin-bottom: 50px;
}

.teacher__photo {
  width: 180px;
  height: 270px;
  min-width: 180px;
  min-height: 270px;
}

.teacher__photo img {
  width: 100%;
  height: auto;
}

.teacher__info {
  flex-grow: 2;
}

.teacher__name {
  font-size: 4rem;
  margin-bottom: 18px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 2560px) {
  .teacher__name {
    font-size: 6rem;
  }
}

.teacher__desc {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.08em;
}

@media (min-width: 2560px) {
  .teacher__desc {
    font-size: 3.6rem;
  }
}

.models__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.model {
  flex-basis: 380px;
  position: relative;
  z-index: -1;
}

.model__photo img {
  width: 100%;
  height: auto;
}

.model__info {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.model__name {
  flex-grow: 2;
}
